<h2>Template</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let menuItem of templateMenu" class="list-group-item"
        [routerLink]="menuItem.route"
        routerLinkActive="active">
        {{ menuItem.text }}
    </li>
</ul>

<h2 class="mt-4">Reactive</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let menuItem of reactiveMenu" class="list-group-item"
        [routerLink]="menuItem.route"
        routerLinkActive="active">
        {{ menuItem.text }}
    </li>
</ul>

<h2 class="mt-4">Validations</h2>
<hr>

<ul class="list-group">
    <li *ngFor="let menuItem of authMenu" class="list-group-item"
        [routerLink]="menuItem.route"
        routerLinkActive="active">
        {{ menuItem.text }}
    </li>
</ul>
